fastapi
uvicorn
python-multipart
pydantic
python-dotenv

streamlit
streamlit-folium
folium
plotly

sqlalchemy

langchain
langgraph
langchain-google-genai
langchain-community

google-generativeai

faiss-cpu
sentence-transformers

pillow
opencv-python

pandas
numpy

requests
geopy

python-dateutil