fastapi
uvicorn
python-multipart
pydantic
python-dotenv

streamlit
streamlit-folium
folium
plotly

SQLAlchemy

langchain
langgraph
langchain-google-genai
langchain-community
groq

faiss-cpu
sentence-transformers

pillow

pandas
numpy

requests
geopy

python-dateutil
